.list-container{
    position: relative;
    width: 80vw;
    height: auto;
    padding-bottom: 15px;
    background-color: rgb(142, 142, 142);
    margin: 50px auto;
    border-radius: 10px;
}

.list-container li{
    position: relative;
    top: 10px;
    background-color: rgb(219, 219, 219);
    height: 5vh;
    border: 2px solid black;
    margin: 5px 10px;
    border-radius: 10px;
}

.list-container p{
    position: relative;
    top: 5px;
    color: black;
    text-align: center;
}

.list-container li a {
    color: red;
    top: 0;
    position: absolute;
    left: 90%;
    display: inline-block;
}

.list-container li a i{
    position:relative;
    top: 0;
    font-size: 30px;
}