.placeholder{
    position: relative;
    top: calc(100vh - 50px);
    margin: 20px auto;
    height: 100vh;
    width: 90%;
    overflow: hidden;
    padding: 5px;
    border: 1px solid black;
}

.placeholder p{
    display: inline;
    overflow: hidden;
}

